.salary-input {
    margin: 2rem 0;
    
    div {
        p {
            margin: 0;
            line-height: 2.2rem;
        }
    }
}

.calculation-result {
    position: relative;
    min-height: 8rem;
    table {
        td {
            height: 1.5rem;
            padding: .3rem;
        }
    }
}